@use './index' as *;
@forward './components/sidenav';
@forward './components/generalButton';
@forward './pages/userProfile';
@forward './pages/timer';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
.mainAppContainer {
	width: 100vw;
	min-height: 100vh;
	@include center();
	transition: 0.3s;

	.mainAppContent {
		@include center();
		width: 100%;
		min-height: 100vh;
		transition: 0.3s;
		position: relative;
		animation: animatedBackground 300s linear infinite alternate;

		.toggleSideNav {
			position: absolute;
			top: 1rem;
			left: 1rem;
			font-size: 1rem;
			padding: 0.8rem;
			z-index: 5;
		}
	}
}

@media (max-width: $onMobile) {
	.mainAppContent {
		animation: animatedBackground 100s linear infinite alternate !important;
	}
}

.content_container {
	height: 100%;
	min-height: 100vh;
	min-width: 100%;
	@include center();
	flex-direction: column;
	justify-content: space-evenly;
	animation: appear-bottom 0.3s;
	position: relative;
	padding: 1rem 0rem;
}
.buttons_container {
	@include center();
	flex-wrap: wrap;
	gap: 2rem;

	a,
	button {
		@include generalButton();
	}
}

.icon {
	@include center();
	font-size: 1.5rem;
	border-radius: 50%;
	padding: 1rem;
	border: none;
	cursor: pointer;
	transition: 0.15s;
	&:hover {
		transform: translateY(-0.2rem);
	}
}

.myWorkouts_clockIcon {
	font-size: 1.2rem;
	padding: 0.7rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.flex {
	@include center();
	gap: 1rem;
}

.logInWithGoogle {
	text-align: center;

	h2 {
		margin-bottom: 1rem;
	}
}

.tier {
	@include center();
	width: 3rem;
	color: $black;
	height: 3rem;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.currentExercise_container {
	height: 85vh;
	width: 100%;
	min-height: 85vh;
	@include center();
	flex-direction: column;
	position: relative;

	.weightDisplay,
	.exerciseInfo {
		height: 100%;
		width: 100%;
		position: absolute;
		@include center();
	}
	.weightDisplay {
		font-size: clamp(6rem, 50vw, 30rem);
		color: transparentize($color: $gray, $amount: 0.7);
		z-index: 0;
	}
	.exerciseInfo {
		flex-direction: column;
		gap: 5rem;
		z-index: 1;
	}
	.exercise_title {
		font-size: 3rem;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	.sets_container {
		@include center();
		gap: 4rem;
		.set {
			height: 2rem;
			width: 2rem;
			transform: rotate(45deg);
		}
		.setCompleted {
			background-color: $accent;
		}
	}
	h1 {
		letter-spacing: 3px;
	}
}
